<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>787132935713-72i01t4rqmsk24u83cgp7fgahb9usd92.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.787132935713-72i01t4rqmsk24u83cgp7fgahb9usd92</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>787132935713-b7o8r6r8m81vs9gbhke44aha5g3a17vn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAacJzLzZ6OUyrl3cEZ8wWr23YqjxEAICE</string>
	<key>GCM_SENDER_ID</key>
	<string>787132935713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.remoteconfig</string>
	<key>PROJECT_ID</key>
	<string>login-ecc10</string>
	<key>STORAGE_BUCKET</key>
	<string>login-ecc10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787132935713:ios:2e9366b206d1fc0edf7d60</string>
</dict>
</plist>